@font-face {
  font-family: Sofia;
  src: url(../font/Sofia-Regular.ttf);
}

html {
    height: 100%;
    /* max-height: 600px; */
    width: auto;
    background-color: hsla(200,40%,30%,.4);
    background-image:   
      url('../img/tree.png'), 
      url('../img/mountentree.png'),
      url('../img/sky.png'),
      url('../img/mountan.png'),
      url('../img/sky2.png');
    background-repeat: repeat-x;
    background-position: 
      0 20%,
      0 100%,
      0 50%,
      0 100%,
      0 0;
    background-size: 
      2500px,
      800px,
      500px 200px,
      1000px,
      400px 260px;
    animation: 50s para infinite linear;
    }
  
  @keyframes para {
    100% {
      background-position: 
        -5000px 20%,
        -800px 95%,
        500px 50%,
        1000px 100%,
        400px 0;
      }
    }
h1 {
    font-family: "Sofia", sans-serif;
  font-size: 2rem;
  text-shadow: 0.20rem 0.20rem 0.20rem #3ce784;
}

.centert {
    text-align: center;
}
#para {
    font-family: "Sofia", sans-serif;
    font-size: 30px;
    text-shadow: 3px 3px 3px #fbbe9a;
}
#para1 {
    font-family: "Sofia", sans-serif;
    font-size: 30px;
    text-shadow: 3px 3px 3px #9ac4fb;
}
#para2 {
    font-family: "Sofia", sans-serif;
    font-size: 22px;
    text-shadow: 3px 3px 3px #cc9afb;
}
#para3 {
    font-family: "Sofia", sans-serif;
    font-size: px;
    text-shadow: 3px 3px 3px #fb9ab7;
}

.button {
  background-color: #fbc2c2;
  border-radius: 100px;
  box-shadow: rgba(187, 44, 44, 0.2) 0 -25px 18px -14px inset,rgba(170, 44, 187, 0.15) 0 1px 2px,rgba(154, 44, 187, 0.15) 0 2px 4px,rgba(170, 44, 187, 0.15) 0 4px 8px,rgba(158, 44, 187, 0.15) 0 8px 16px,rgba(187, 44, 168, 0.15) 0 16px 32px;
  color: rgb(128, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-family: Sofia,-apple-system,system-ui,Roboto,sans-serif;
  padding: 1.2rem 3rem;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  loat: left;
  
  margin-left: 10%;

}

.button:hover {
  box-shadow: rgba(187, 44, 44, 0.35) 0 -25px 18px -14px inset,rgba(187, 44, 44, 0.25) 0 1px 2px,rgba(187, 44, 44, 0.25) 0 2px 4px,rgba(187, 44, 44, 0.25) 0 4px 8px,rgba(187, 44, 111, 0.25) 0 8px 16px,rgba(187, 44, 44, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
/* CSS */
.button1 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: Sofia,-apple-system,system-ui,Roboto,sans-serif;
  padding: 1.2rem 3rem;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  loat: left;
 

}

.button1:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
